@import '../../../../styles/colors';

.imageCard {
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 5px;
    height: 150px;

    > img {
        max-height: 100%;
        max-width: 100%;
    }

    &.selected {
        border: 3px solid $main;
    }
}
